$primary: #fb8122;
$secondary: #1d2228;
$tertiary: #e1e2e2;
$font-family-base: "Montserrat", sans-serif;
$font-family-secondary: "Indie Flower", cursive;
$padding-xl: 2.5rem;
$padding-2xl: $xl-padding * 2;

$headings-font-family: $font-family-secondary;

$navbar-brand-font-size: 1.5rem;
